# The certificate will be for the following domain and its "crm" subdomain.  (Or
# maybe we should use "host" or "server" as the variable name instead of "domain".)
domain=mydomain.com
backup_server=backups.mydomain.com
backup_server_ssh_key=/home/odoo-docker/.ssh/id_rsa
backup_server_ssh_user=backerupper
backup_server_ssh_port=22  # Leave this unchanged unless you need to change it
backups_path=/path/on/backup/server/to/store/backups/at
